@inject AppDbContext _context
@{
    int usersId=int.Parse(User.Claims.FirstOrDefault(c=>c.Type=="Id").Value);
    var allJob=_context.jobs.Where(c=>c.EmployerId==usersId).ToList();
}
<body>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../owlcarousel/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- reset -->
    <style>
        html,
        body,
        div,
        span,
        applet,
        object,
        iframe,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        a,
        abbr,
        acronym,
        address,
        big,
        cite,
        code,
        del,
        dfn,
        em,
        img,
        ins,
        kbd,
        q,
        s,
        samp,
        small,
        strike,
        strong,
        sub,
        sup,
        tt,
        var,
        b,
        u,
        i,
        center,
        dl,
        dt,
        dd,
        ol,
        ul,
        li,
        fieldset,
        form,
        label,
        legend,
        table,
        caption,
        tbody,
        tfoot,
        thead,
        tr,
        th,
        td,
        article,
        aside,
        canvas,
        details,
        embed,
        figure,
        figcaption,
        footer,
        header,
        hgroup,
        menu,
        nav,
        output,
        ruby,
        section,
        summary,
        time,
        mark,
        audio,
        video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }

        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        menu,
        nav,
        section {
            display: block;
        }

        body {
            line-height: 1;
        }

        ol,
        ul {
            list-style: none;
        }

        blockquote,
        q {
            quotes: none;
        }

        blockquote:before,
        blockquote:after,
        q:before,
        q:after {
            content: '';
            content: none;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
    </style>
    <style>
        * {
            box-sizing: border-box;
        }

        :root {
            --color-1: #0c2e60;
            --color-2: linear-gradient(to right, #ef3e0f, #ffb800);
        }

        html {
            font-size: 62.5%;
        }

        body {
            font-size: 1.6rem;
            font-family: "Roboto", sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        .main-content {
            width: 1170px;
            max-width: calc(100% - 48px);
            margin: 0 auto;
            font-size: pop;
        }

        .main-content a {
            text-decoration: none;
        }

        /* chung */
        .profile-block {
            padding-top: 150px;
            display: flex;
            justify-content: space-between;
        }

        .profile-block {
            min-height: 100vh;
        }

        .profile-box {
            border: 1px solid #e9ecef;
            border-radius: 4px;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
        }

        .profile-sidebar {
            width: 23%;
            margin-right: 2%;
        }

        .profile-title {
            background: linear-gradient(90deg, #62ad25, #54b82c);
            font-size: 1.7rem;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 28px;
            padding-right: 10px;
            color: #fff;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            font-weight: 500;
        }

        .profile-box .navbar-profile li a {
            padding: 13px 25px;
            font-size: 15px;
            color: #000;
            display: block;
            -webkit-transition: all .3s ease-out;
            transition: all .3s ease-out;
        }

        .profile-box .navbar-profile li a:hover {
            background-color: #e9ecef;
        }

        .profile-box .navbar-profile li i {
            margin-right: 12px;
            width: 13px;
            vertical-align: unset;
        }

        .profile-right {
            width: 75%;
        }

        .profile-right .profile-box {
            padding: 20px;
        }

        .profile-right__title {
            font-size: 20px;
            text-transform: uppercase;
            padding-bottom: 8px;
            color: #635f5f;
            font-weight: 700;
            display: inline-block;
        }

        .profile-right__content {
            display: flex;
            margin-top: 20px;
        }

        .btn__profile {
            width: 180px;
            font-size: 14px;
            font-weight: 700;
            border: none;
            background-color: #007bff;
            color: #FFF;
            padding: 10px 8px;
            border-radius: 4px;
        }

        .courses-participated-table {
            border: 1px solid #dee2e6;
            width: 100%;
            margin-top: 20px;
        }

        .courses-participated-table th,
        td {
            border: 1px solid #dee2e6;
            padding: 15px 10px;
            cursor: pointer;
            vertical-align: middle;
        }

        .courses-participated-table tr {
            border: 1px solid #dee2e6;
        }

        .courses-participated-table th {
            font-size: 16px;
            font-weight: 500;
            color: #635f5f;
        }

        table.courses-participated-table tbody tr {
            background-color: #f2f2f2;
        }

        table.courses-participated-table tbody tr:hover {
            background-color: #dfdede;
        }

        .courses-participated-table td,
        .courses-participated-table td a {
            color: #635f64;
        }

        .btn {
            outline: none;
            border: 1px solid #e0e4e6;
            padding: 18px 15px;
            margin-bottom: 30px;
            width: 100%;
            text-transform: uppercase;
            background: var(--color-2);
            font-size: 13px;
            font-weight: 500;
            line-height: 0.8;
            color: #FFF;
            border-radius: 5px;

        }

        .block-1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>

    <main>
        <div class="main-content">
            <div class="profile-block">
                <div class="profile-sidebar">
                    <div class="profile-box">
                        <h1 class="profile-title">Account information</h1>
                        <div class="navbar-profile">
                            <ul>
                               <li>
                                    <a asp-action="EditUser" asp-route-usersId="@Model.Id"><i class="fa-solid fa-user"></i>Personal information</a>
                                </li>
                                <li>
                                    <a asp-action="HistoryUploadJob" asp-route-usersId="@Model.Id"><i class="fa-solid fa-file-arrow-up"></i></i>History upload
                                        job</a>
                                </li>
                                <li>
                                    <a asp-action="ChangePassword" asp-route-id="@Model.Id"><i class="fa-solid fa-key"></i>Change Password</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="profile-right">
                    <div class="profile-box">
                        <div class="courses-participated">
                            <div class="block-1">
                                <h2 class="profile-right__title">History upload job</h2>
                                <a asp-action="Create" asp-controller="Job" class="btn btn__add-new-post-profile"
                                    style="background: #0c2e60; width: 150px; margin-bottom: 0">Post a new job</a>
                            </div>
                            <div class="table">
                                <table class="courses-participated-table" id="table-sort">
                                    <thead>
                                        <tr>
                                            <th onclick="sortTable(0)">ID</th>
                                            <th onclick="sortTable(1)">Job Name</th>
                                            <th onclick="sortTable(2)">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var item in allJob)
                                        {
                                        <tr style="align-items: center">
                                                <td>JobSeed_@item.Id
                                                </td>
                                                <td><a asp-action="Detail" asp-controller="Job" asp-route-id="@item.Id">@item.JobName</a></td>
                                                    @if(item.State==false)
                                                    {
                                                    <td style="color: red; font-weight: 500">
                                                        Not activated
                                                    </td>
                                                    }
                                                    else
                                                    {
                                                    <td style="color: green; font-weight: 500">
                                                        Activated
                                                    </td>
                                                    }
                                        </tr>
                                        }
                                    </tbody>
                                    <script>
                                        function sortTable(n) {
                                            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                                            table = document.getElementById("table-sort");
                                            switching = true;
                                            dir = "asc";
                                            while (switching) {
                                                switching = false;
                                                rows = table.rows;
                                                for (i = 1; i < (rows.length - 1); i++) {
                                                    shouldSwitch = false;
                                                    x = rows[i].getElementsByTagName("TD")[n];
                                                    y = rows[i + 1].getElementsByTagName("TD")[n];
                                                    if (!isNaN(Number(x.innerHTML)) && !isNaN(Number(y.innerHTML))) {
                                                        if (dir == "asc") {
                                                            if (Number(x.innerHTML) > Number(y.innerHTML)) {
                                                                shouldSwitch = true;
                                                                break;
                                                            }
                                                        } else if (dir == "desc") {
                                                            if (Number(x.innerHTML) < Number(y.innerHTML)) {
                                                                shouldSwitch = true;
                                                                break;
                                                            }
                                                        }
                                                    } else {
                                                        if (dir == "asc") {
                                                            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                                                shouldSwitch = true;
                                                                break;
                                                            }
                                                        } else if (dir == "desc") {
                                                            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                                                shouldSwitch = true;
                                                                break;
                                                            }
                                                        }
                                                    }
                                                }
                                                if (shouldSwitch) {
                                                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                                                    switching = true;
                                                    switchcount++;
                                                } else {
                                                    if (switchcount == 0 && dir == "asc") {
                                                        dir = "desc";
                                                        switching = true;
                                                    }
                                                }
                                            }
                                        }
                                    </script>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


</body>